In [10]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',False)
pd.set_option('precision',2)

In [11]:
df = pd.read_csv('jakarta_houseprice.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2090 non-null   int64
 1   bathrooms         2090 non-null   int64
 2   bedrooms          2090 non-null   int64
 3   building_size     2090 non-null   float64
 4   car_spaces        2090 non-null   int64
 5   deskripsi         2090 non-null   object
 6   land_size         2090 non-null   float64
 7   lb                2067 non-null   float64
 8   lokasi            2090 non-null   object
 9   lt                2088 non-null   float64
 10  price             2090 non-null   object
 11  terdekat          2090 non-null   object
 12  empty             2088 non-null   object
 13  fasilitas         2089 non-null   object
 14  floors_total      2087 non-null   float64
 15  price_conditions  2087 non-null   object
 16  year_built        2087 non-null   float64
 17  maidrooms         2072 non-null   float64
 18  maidbathrooms     2053 non-null   float64
 19  electricity       1629 non-null   float64
 20  deposit           1215 non-null   float64
dtypes: float64(10), int64(4), object(7)
memory usage: 343.0+ KB

In [13]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [14]:
df = df.drop_duplicates(subset = 'deskripsi')

In [15]:
df = df.dropna(how = 'all')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1679 entries, 0 to 2076
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         1679 non-null   int64
 1   bedrooms          1679 non-null   int64
 2   building_size     1679 non-null   float64
 3   car_spaces        1679 non-null   int64
 4   deskripsi         1679 non-null   object
 5   land_size         1679 non-null   float64
 6   lb                1658 non-null   float64
 7   lokasi            1679 non-null   object
 8   lt                1677 non-null   float64
 9   price             1679 non-null   object
 10  terdekat          1679 non-null   object
 11  empty             1677 non-null   object
 12  fasilitas         1678 non-null   object
 13  floors_total      1676 non-null   float64
 14  price_conditions  1676 non-null   object
 15  year_built        1676 non-null   float64
 16  maidrooms         1661 non-null   float64
 17  maidbathrooms     1643 non-null   float64
 18  electricity       1290 non-null   float64
 19  deposit           929 non-null    float64
dtypes: float64(10), int64(3), object(7)
memory usage: 275.5+ KB

In [17]:
df = df.dropna(subset = ['price'])
df['price']=df[df['price']!='agen']['price'].apply(lambda x: int(x.replace('.','')))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1679 entries, 0 to 2076
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         1679 non-null   int64
 1   bedrooms          1679 non-null   int64
 2   building_size     1679 non-null   float64
 3   car_spaces        1679 non-null   int64
 4   deskripsi         1679 non-null   object
 5   land_size         1679 non-null   float64
 6   lb                1658 non-null   float64
 7   lokasi            1679 non-null   object
 8   lt                1677 non-null   float64
 9   price             1677 non-null   float64
 10  terdekat          1679 non-null   object
 11  empty             1677 non-null   object
 12  fasilitas         1678 non-null   object
 13  floors_total      1676 non-null   float64
 14  price_conditions  1676 non-null   object
 15  year_built        1676 non-null   float64
 16  maidrooms         1661 non-null   float64
 17  maidbathrooms     1643 non-null   float64
 18  electricity       1290 non-null   float64
 19  deposit           929 non-null    float64
dtypes: float64(11), int64(3), object(6)
memory usage: 275.5+ KB

In [19]:
def garasi(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['garasi_desc'] = df_copy['deskripsi'].apply(
        lambda x:0 if ('tidak ada garasi' in x) else 1 if ('carport' in x) or ('garasi' in x) \
        else 0
    )
    df_copy['car_spaces'] = df_copy['car_spaces'].fillna(0)
    df_copy['ada_garasi'] = np.where((df_copy['garasi_desc'] > 0),
                                     1,np.where(df_copy['car_spaces'] > 0 ,1 ,0)
                                    )
    
    return df_copy.drop('garasi_desc',axis=1)

In [20]:
def tipe_property(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['tipe_property'] = df_copy['deskripsi'].apply(
        lambda x:'Rumah' if ('rumah' in x) else 'Ruko' if ('ruko' in x) else\
        'Apartemen' if ('apartemen'  in x) or ('apt' in x) else "lainnya")
    return df_copy

In [21]:
def taman(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['taman'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('taman' in x) or ('garden' in x) or ('pekarangan' in x) else 0
    )
    return df_copy

In [22]:
def pool(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['pool'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('pool' in x) or ('kolam renang' in x) else 0
    )
    return df_copy

In [23]:
def shm(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['shm'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('shm' in x) or ('sertifikat hak milik' in x) else 0
    )
    return df_copy

In [24]:
def imb(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['imb'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('imb' in x) or ('mendirikan bangunan' in x) else 0
    )
    return df_copy

In [25]:
def hgb(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['hgb'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('hgb' in x) or ('hak guna bangunan' in x) or  ('shgb' in x) else 0
    )
    return df_copy

In [26]:
def sertifikat(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['sertifikat'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('sertifikat' in x)else 0
    )
    return df_copy

In [27]:
def gym(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['gym'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('gym' in x) else 0
    )
    return df_copy

In [28]:
#garasi, apartemen, taman, pool, shm, imb, hgb, sertifikat, gym

In [29]:
temp = garasi(df)

In [30]:
temp['ada_garasi'].sum()

1679

In [31]:
temp = hgb(temp)

In [32]:
temp['hgb'].sum()

79

In [33]:
temp = tipe_property(temp)

In [34]:
temp['tipe_property']

0         Rumah
1         Rumah
2       lainnya
3         Rumah
4       lainnya
         ...
2069      Rumah
2071      Rumah
2072      Rumah
2073      Rumah
2076      Rumah
Name: tipe_property, Length: 1679, dtype: object

In [35]:
temp = taman(temp)

In [36]:
temp['taman'].sum()

122

In [37]:
temp = pool(temp)

In [38]:
temp['pool'].sum()

32

In [39]:
temp = shm(temp)

In [40]:
temp['shm'].sum()

525

In [41]:
temp = imb(temp)

In [42]:
temp['imb'].sum()

133

In [43]:
temp = sertifikat(temp)

In [44]:
temp['sertifikat'].sum()

127

In [45]:
temp = gym(temp)

In [46]:
temp['gym'].sum()

3

In [47]:
temp['kamar'] = temp['maidrooms'].fillna(0)+temp['bedrooms']

In [48]:
temp['kamar_mandi'] = temp['maidbathrooms'].fillna(0)+temp['bathrooms']

In [49]:
temp['sertifikat'] = np.where(temp['sertifikat'] == 1, 1,
                             np.where(temp['shm'] == 1, 1,
                                     np.where(temp['imb'] == 1, 1,
                                             np.where(temp['hgb'] == 1, 1,0))))

In [50]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1679 entries, 0 to 2076
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         1679 non-null   int64
 1   bedrooms          1679 non-null   int64
 2   building_size     1679 non-null   float64
 3   car_spaces        1679 non-null   int64
 4   deskripsi         1679 non-null   object
 5   land_size         1679 non-null   float64
 6   lb                1658 non-null   float64
 7   lokasi            1679 non-null   object
 8   lt                1677 non-null   float64
 9   price             1677 non-null   float64
 10  terdekat          1679 non-null   object
 11  empty             1677 non-null   object
 12  fasilitas         1678 non-null   object
 13  floors_total      1676 non-null   float64
 14  price_conditions  1676 non-null   object
 15  year_built        1676 non-null   float64
 16  maidrooms         1661 non-null   float64
 17  maidbathrooms     1643 non-null   float64
 18  electricity       1290 non-null   float64
 19  deposit           929 non-null    float64
 20  ada_garasi        1679 non-null   int64
 21  hgb               1679 non-null   int64
 22  tipe_property     1679 non-null   object
 23  taman             1679 non-null   int64
 24  pool              1679 non-null   int64
 25  shm               1679 non-null   int64
 26  imb               1679 non-null   int64
 27  sertifikat        1679 non-null   int64
 28  gym               1679 non-null   int64
 29  kamar             1679 non-null   float64
 30  kamar_mandi       1679 non-null   float64
dtypes: float64(13), int64(11), object(7)
memory usage: 419.8+ KB

In [51]:
temp['sertifikat']

0       0
1       0
2       0
3       0
4       0
       ..
2069    0
2071    0
2072    0
2073    0
2076    1
Name: sertifikat, Length: 1679, dtype: int64

In [52]:
temp

      bathrooms  bedrooms  building_size  ...  gym kamar  kamar_mandi
0             1         2           32.0  ...    0   2.0          1.0
1             1         2           42.0  ...    0   2.0          1.0
2             1         1           31.0  ...    0   1.0          1.0
3             1         2           42.0  ...    0   2.0          1.0
4             1         2           50.0  ...    0   2.0          1.0
...         ...       ...            ...  ...  ...   ...          ...
2069          4         4          250.0  ...    0   5.0          5.0
2071          5         5          250.0  ...    0   6.0          6.0
2072          4         4           97.0  ...    0   5.0          5.0
2073          3         3          356.0  ...    0   4.0          4.0
2076          2         5          200.0  ...    0   6.0          3.0

[1679 rows x 31 columns]

In [53]:
kecamatan={
'Cempaka Putih' : ['Cempaka Putih Barat','Cempaka Putih Timur', 'Rawasari','Rawa Sari'],
'Gambir' : ['Cideng','Duri Pulo', 'Gambir', 'Kebon Kelapa', 'Petojo Selatan', 'Petojo Utara',
           'Roxy','Petojo'],
'Johar Baru' : ['Galur', 'Johar Baru', 'Kampung Rawa', 'Tanah Tinggi'],
'Kemayoran' : ['Cempaka Baru', 'Gunung Sahari Selatan', 'Harapan Mulya', 'Kebon Kosong',
               'Kemayoran', 'Serdang', 'Sumur Batu', 'Utan Panjang'],
'Menteng' : ['Cikini', 'Gondangdia', 'Kebon Sirih', 'Menteng', 'Pegangsaan','Thamrin'],
'Sawah Besar': ['Gunung Sahari Utara', 'Karang Anyar', 'Kartini', 'Kampung Anyar',
                'Mangga Dua Selatan', 'Pasar Baru', 'Gunung Sahari'],
'Senen' : ['Bungur', 'Kenari', 'Kramat', 'Kwitang', 'Paseban', 'Senen'],
'Tanah Abang' : ['Bendungan Hilir', 'Gelora', 'Kampung Bali', 'Karet Tengsin', 
                 'Kebon Kacang', 'Kebon Melati', 'Petamburan', 'KH Mas Mansyur',
                'Kebon Kacang Lama','Gatot Subroto'],
'Cilincing' : ['Cilincing', 'Kalibaru', 'Marunda', 'Rorotan','Suka Pura', 'Semper',
                'Semper Barat', 'Semper Timur', 'Sukapura'],
'Kelapa Gading' : ['Kelapa Gading Barat', 'Kelapa Gading Timur', 'Pegangsaan Dua'],
'Koja' : ['Koja', 'Lagoa', 'Rawa Badak Selatan', 'Rawa Badak Utara','Tugu',
          'Tugu Selatan', 'Tugu Utara','Rawabadak Selatan'],
'Pademangan' : ['Ancol', 'Pademangan Barat', 'Pademangan Timur'],
'Penjaringan' : ['Kamal Muara', 'Kapuk Muara', 'Pejagalan', 'Penjaringan', 'Pluit',
                'Pantai Indah Kapuk','Bandengan','Teluk Gong','Muara Karang'],
'Tanjung Priok' : ['Kebon Bawang', 'Papanggo', 'Sungai Bambu', 'Sunter Agung', 'Sunter',
                    'Sunter Jaya', 'Tanjung Priok', 'Warakas'],
'Cakung' : ['Cakung Barat', 'Cakung Timur', 'Jatinegara', 'Penggilingan', 
            'Pulo Gebang', 'Rawa Terate', 'Ujung Menteng'],
'Cipayung' : ['Bambu Apus', 'Ceger', 'Cilangkap', 'Cipayung', 'Lubang Buaya',
              'Munjul', 'Pondok Ranggon', 'Setu'],
'Ciracas' : ['Cibubur', 'Ciracas', 'Kelapa Dua Wetan', 'Rambutan Susukan','Kampung Rambutan'],
'Duren Sawit' : ['Duren Sawit', 'Klender', 'Malaka Jaya', 'Malaka Sari', 
                 'Pondok Bambu', 'Pondok Kelapa', 'Pondok Kopi'],
'Jatinegara' :['Bali Mester', 'Bidara Cina', 'Cipinang Besar Selatan', 'Cipinang Besar Utara', 
                'Cipinang Cempedak', 'Cipinang Muara', 'Kampung Melayu', 'Rawa Bunga'],
'Kramat Jati': ['Balekambang', 'Batu Ampar', 'Cawang', 'Cililitan',
                'Dukuh', 'Kramat Jati', 'Tengah', 'Condet'],
'Makasar' : ['Cipinang Melayu', 'Halim Perdana Kusuma', 'Kebon Pala', 'Makasar', 
             'Pinang Ranti','Halim Perdana Kusumah'],
'Matraman' : ['Kayu Manis', 'Kebon Manggis', 'Pal Meriam', 'Pisangan Baru', 
              'Utan Kayu Selatan', 'Utan Kayu Utara','Utan Kayu'],
'Pasar Rebo' : ['Baru', 'Cijantung', 'Gedong', 'Kalisari', 'Pekayon'],
'Pulo Gadung' : ['Cipinang', 'Jati', 'Jatinegara Kaum', 'Kayu Putih', 
                  'Pisangan Timur', 'Pulo Gadung', 'Rawamangun'],
'Cilandak' : ['Cilandak Barat', 'Cipete Selatan', 'Gandaria Selatan', 'TB Simatupang', 'Cipete',
              'Lebak Bulus', 'Pondok Labu', 'Fatmawati'],
'Jagakarsa' :  ['Ciganjur', 'Cipedak', 'Jagakarsa', 'Lenteng Agung', 
                'Srengseng Sawah', 'Tanjung Barat'],
'Kebayoran Baru' : ['Cipete Utara', 'Gandaria Utara', 'Gunung', 'Kramat Pela', 'Radio Dalam',
                    'Melawai', 'Petogogan', 'Pulo', 'Rawa Barat', 'Selong', 'Senayan',
                   'Antasari','Panglima Polim','Gandaria'],
'Kebayoran Lama' : ['Cipulir', 'Grogol Selatan', 'Grogol Utara', 'Tanah Kusir', 'Permata Hijau',
                    'Kebayoran Lama Selatan', 'Kebayoran Lama Utara', 'Pondok Pinang',
                   'Pondok Indah'],
'Mampang Prapatan' : ['Bangka', 'Kuningan Barat', 'Mampang Prapatan','Kemang',
                      'Pela Mampang', 'Tegal Parang','Warung Buncit'],
'Pancoran' : ['Cikoko', 'Duren Tiga', 'Kalibata', 'Pancoran', 'Pengadegan', 'Rawajati'],
'Pasar Minggu' : ['Cilandak Timur', 'Jati Padang', 'Kebagusan', 'Pejaten', 'Ampera',
                  'Pasar Minggu', 'Pejaten Barat', 'Pejaten Timur', 'Ragunan'],
'Pesanggrahan' : ['Bintaro', 'Pesanggrahan', 'Petukangan Selatan', 'Petukangan',
                  'Petukangan Utara', 'Ulujami'],
'Setiabudi' : ['Guntur', 'Karet Kuningan', 'Karet Semanggi', 'Karet', 'Kuningan Timur',
               'Menteng Atas', 'Pasar Manggis', 'Setiabudi','Kuningan','SetiaBudi',
               'Sudirman'],
'Tebet' : ['Bukit Duri', 'Kebon Baru', 'Manggarai Selatan', 'Manggarai', 'MT Haryono',
           'Menteng Dalam', 'Tebet Barat', 'Tebet Timur','Casablanca'],
'Cengkareng' : ['Cengkareng Barat', 'Cengkareng Timur', 'Duri Kosambi', 
                'Kapuk', 'Kedaung Kali Angke', 'Rawa Buaya','Daan Mogot'],
'Grogol Petamburan' : ['Grogol', 'Jelambar Baru', 'Jelambar', 'Tanjung Duren Selatan', 
                       'Tanjung Duren Utara', 'Tomang', 'Wijaya Kusuma', 'Tanjung Duren',
                      'Wijaya Kesuma'],
'Taman Sari' : ['Glodok', 'Keagungan', 'Krukut', 'Mangga Besar', 'Maphar','Kota', 
                'Pinangsia', 'Taman Sari', 'Tangki','Hayam Wuruk','Gajah Mada'],
'Tambora' : ['Angke', 'Duri Selatan', 'Duri Utara', 'Jembatan Besi', 'Jembatan Lima',
             'Kali Anyar', 'Krendang', 'Pekojan', 'Roa Malaka', 'Tambora', 'Tanah Sereal'],
'Kebon Jeruk' : ['Duri Kepa', 'Kebon Jeruk', 'Kedoya Selatan', 'Kedoya Utara','Sunrise Garden',
                 'Kelapa Dua', 'Sukabumi Selatan', 'Sukabumi Utara','Pos Pengumben',
                'Kedoya'],
'Kalideres' : ['Kalideres', 'Kamal', 'Pegadungan', 'Semanan', 'Tegal Alur'],
'Palmerah' : ['Jatipulo', 'Kemanggisan', 'Kota Bambu Selatan', 'Kota Bambu','Jati Pulo',
              'Kota Bambu Utara', 'Palmerah', 'Slipi'],
'Kembangan' : ['Joglo', 'Kembangan Selatan', 'Kembangan Utara', 'Puri Indah',
               'Meruya Selatan', 'Meruya Utara', 'Srengseng','Meruya']
}

In [65]:
for i in range(len(temp)):
    for j in kecamatan.keys():
        if temp['lokasi'].iloc[i] in kecamatan[j]:
            temp['lokasi'].iloc[i] = j
            break
temp['lokasi'].unique()

array(['Johar Baru', 'Gambir', 'Taman Sari', 'Pademangan', 'Pancoran',
       'Palmerah', 'Matraman', 'Makasar', 'Cakung', 'Tambora', 'Koja'],
      dtype=object)

In [55]:
lok = [i for i in temp['lokasi'].unique()]
for i in lok:
    if i not in kecamatan.keys():
        print(i)

In [56]:
# 'Kedungwaringin' bekasi, 'Cimahpar' bogor 'Mekar Wangi' negeri entah berantah
# 'Sudirman', 'Gatot Subroto' 'Thamrin'

In [57]:
#kamar mandi,kamar, luas bangunan, luas tanah, 
#lokasi, garasi, apartemen, taman, pool,  gym, sertifikat, listrik, lantai

In [58]:
temp = temp[['kamar_mandi','kamar','lb','lt','tipe_property','price','sertifikat','deskripsi',
     'lokasi','ada_garasi','pool','taman','electricity','floors_total','gym']]

In [59]:
temp

      kamar_mandi  kamar     lb     lt  ... taman  electricity  floors_total gym
0             1.0    2.0   32.0   20.0  ...     0          NaN           NaN   0
1             1.0    2.0   42.0   21.0  ...     0          NaN           NaN   0
2             1.0    1.0   31.0   16.0  ...     0          NaN           NaN   0
3             1.0    2.0   42.0   21.0  ...     0          NaN           2.0   0
4             1.0    2.0   50.0   25.0  ...     0          NaN           2.0   0
...           ...    ...    ...    ...  ...   ...          ...           ...  ..
2069          5.0    5.0  250.0  320.0  ...     0       2200.0           1.0   0
2071          6.0    6.0  250.0  173.0  ...     0       2200.0           1.0   0
2072          5.0    5.0   97.0   75.0  ...     0       2200.0           1.0   0
2073          4.0    4.0  356.0  331.0  ...     0       2200.0           2.0   0
2076          3.0    6.0  200.0  235.0  ...     0       2200.0           2.0   0

[1679 rows x 15 columns]

In [60]:
not_include = ['Kedungwaringin', 'Cimahpar', 'Mekar Wangi']

In [61]:
temp = temp[~temp['lokasi'].isin(not_include)]

In [62]:
temp

      kamar_mandi  kamar     lb     lt  ... taman  electricity  floors_total gym
0             1.0    2.0   32.0   20.0  ...     0          NaN           NaN   0
1             1.0    2.0   42.0   21.0  ...     0          NaN           NaN   0
2             1.0    1.0   31.0   16.0  ...     0          NaN           NaN   0
3             1.0    2.0   42.0   21.0  ...     0          NaN           2.0   0
4             1.0    2.0   50.0   25.0  ...     0          NaN           2.0   0
...           ...    ...    ...    ...  ...   ...          ...           ...  ..
2069          5.0    5.0  250.0  320.0  ...     0       2200.0           1.0   0
2071          6.0    6.0  250.0  173.0  ...     0       2200.0           1.0   0
2072          5.0    5.0   97.0   75.0  ...     0       2200.0           1.0   0
2073          4.0    4.0  356.0  331.0  ...     0       2200.0           2.0   0
2076          3.0    6.0  200.0  235.0  ...     0       2200.0           2.0   0

[1679 rows x 15 columns]

In [63]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1679 entries, 0 to 2076
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   kamar_mandi    1679 non-null   float64
 1   kamar          1679 non-null   float64
 2   lb             1658 non-null   float64
 3   lt             1677 non-null   float64
 4   tipe_property  1679 non-null   object
 5   price          1677 non-null   float64
 6   sertifikat     1679 non-null   int64
 7   deskripsi      1679 non-null   object
 8   lokasi         1679 non-null   object
 9   ada_garasi     1679 non-null   int64
 10  pool           1679 non-null   int64
 11  taman          1679 non-null   int64
 12  electricity    1290 non-null   float64
 13  floors_total   1676 non-null   float64
 14  gym            1679 non-null   int64
dtypes: float64(7), int64(5), object(3)
memory usage: 209.9+ KB

In [64]:
temp.to_csv('csv_(agak)bersih.csv')